body {
    background-color: #f3f3ef;
    color: #141414;
    font-family: 'Open Sans', sans-serif;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    min-height: 100%;
}

p {
    text-align: center;
}

h1, h3 {
  font-family: 'Scope One', serif;
  font-weight: lighter;
}
#h3{
  font-family: 'Scope One', serif;
  font-weight: lighter;
  text-align: right;
  margin-right: 50px;
}

#banner {
  color: #FFF;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img1.png") ;
  background-size: cover;
  width: auto;
  height: 320px;
  padding-top:100px;
}

#search-form {
  text-align: center;
  padding: 25px;
}



input[type=text], select {
  margin: 8px 0;
  margin-right: 75px
}

input[type=text], label {
  color: rgb(30, 31, 30);
  font-weight: bolder
}

input[type=submit] {
  background-color: rgb(29, 31, 29);
  color: #FEF5EF;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 25px;
  font-weight: bolder
}

input[type=submit]:hover {
  background-color: #ebd585;
  color: rgb(26, 26, 27);
}


footer {
    background-color: rgb(25, 26, 25);
    color: #FEF5EF;
    padding: 20px;
    text-align: center;
}

#genderButtons {
  display: none;
}


#laureatesTable {
  width: 100%;
  border-collapse: collapse;
}

#laureatesTable td, #laureatesTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#laureatesTable tr {
  background-color: #FFF;
}

#laureatesTable tr:hover {
  background-color: #ddd;
}

#laureatesTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(113, 201, 241);
  color: #FEF5EF;
}

#info_button {
  width: 100%;
  height: 25px;
  color: rgb(129, 210, 248);
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


#modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.additional-info-heading {
  color: rgb(13, 19, 13);
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

#no-additional-info{
  text-align: center;
}


#top-button {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: rgb(7, 171, 247); 
  color: #FEF5EF; 
  cursor: pointer; 
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#top-button:hover {
 
  background-color: #F4D35E;
  color: #764248;
}

#filter{
    color: #720909;
}